<div id="article-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" id="article-overview">
        <img src="img/uploads/{{article.image}}" />
        <h1>#{{article.tag}}<br/><span class="tag">{{article.header}}</span></h1>
      </div>
      <div class="col-sm-6" id="article-content">
        <div ng-repeat="data in article.data" class="article-block wow fadeInUp" data-wow-duration="450ms">
          <img ng-if="data.type=='image'" class="fullImage" src="img/uploads/{{data.content}}" />
          <p ng-if="data.type=='image' && data.caption">{{data.caption}}</p>
          <p ng-if="data.type=='paragraph'">{{data.content}}</p>
          <p class="source"><span class="pull-left sentiment {{data.sentiment}}" ng-if="data.type=='paragraph'">{{data.sentiment}}</span><a href="{{data.source.url}}">Source: {{data.source.name}} | {{data.date}}</a></p>
        </div>
      </div>
      <div class="col-sm-3" id="article-cards">
        <div class="article-card">
          <h3>Aggregate Political Views</h3>
          <canvas class="chart chart-pie" chart-data="chart" chart-labels="labels" chart-colours="chartColours"></canvas>
        </div>
        <div class="article-card" ng-repeat="location in article.locations">
          <h3>{{location.name}}</h3>
          <div class="map-embed"></div>
          <p ng-repeat="desc in location.description track by $index" ng-if="$index < 5">{{desc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
